.btn-primary{
    color: var(--white);
    background-color: var(--color-primary);
    border: none;
    height: 2.5rem ;
    width: 8.875rem;
    padding: 0 2rem;
    font-size: var(--font-size-1);
    font-weight: 700;
}

.btn-outline{
    color: var(--color-primary);
    background-color: var(--white);
    border: 1px solid var(--color-primary);
    height: 2.5rem ;
    width: 8.875rem;
    padding: 0 2rem;
    font-size: var(--font-size-1);
    font-weight: 700;
}

.btn-outline-red{
    color: var(--color-alert);
    background-color: var(--white);
    border: 1px solid var(--color-alert);
    height: 2.5rem ;
    width: 8.875rem;
    padding: 0 2rem;
    font-size: var(--font-size-1);
    font-weight: 700;
    align-items: center;
    justify-self: center;
    margin: 1rem 2rem 0 2rem;
}

.btn-green{
    color: var(--white);
    background-color: var(--color-success);
    border: none;
    height: 2.5rem ;
    width: 8.875rem;
    padding: 0 2rem;
    font-size: var(--font-size-1);
    font-weight: 700;
    margin-left: 18.2rem;
   
}



.btn-outline-rad{
    color: var(--color-primary);
    background-color: var(--white);
    border: 1px solid var(--color-primary);
    width: max-content;
    height: 2rem;
    padding: 0.5rem 0.75rem;
    font-size: var(--font-size-3);
    border-radius: var(--radius-1);
}

.clean-btn{
    border:none;
    background-color: transparent;
}

.btn-primary-max{
    color: var(--white);
    background-color: var(--color-primary);
    border: none;
    height: 2.5rem ;
    width: 100%;
    padding: 0 2rem;
    font-size: var(--font-size-1);
    font-weight: 700;
}

.btn-outline-max{
    color: var(--color-primary);
    background-color: var(--white);
    border: 1px solid var(--color-primary);
    height: 2.5rem ;
    width: 100%;
    padding: 0 2rem;
    font-size: var(--font-size-1);
    font-weight: 700;
}

