.flex{
    display: flex;
}

.display-none{
    display: none;
}
.end{
    justify-content: end;
}
.absolute{
    position: absolute;
}
.column{
    flex-direction: column;
}

.between{
    justify-content: space-between;
}


.txt-align-center{
    text-align: center;
}

.align-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}



.padding-r-2rem{
    padding-right: 2rem;
}




.gap-05rem{
    gap: 0.5rem;
}
.gap-1rem{
    gap: 1rem;
}
.gap-2rem{
    gap: 2rem;
}
.gap-8rem{
    gap: 8rem;
}