.title{
    font-size: var(--font-size-0-1);
    font-weight: 700;

}

.title-2{
    font-size: var(--font-size-0-0);
    font-weight: 700;

}

.text-1-bold{
    font-size: var(--font-size-0);
    font-weight: 700;
}

.text-2{
    font-size:var(--font-size-1) ;
    font-weight: 400;
}

.text-delete{
    text-align: center;
    padding: 2rem 6rem;
}

.text-3{
    font-size:var(--font-size-0-3) ;
    font-weight: 400;


}